########################################
# Terraform-specific ignores
########################################

# Local .terraform directories
.terraform/
**/.terraform/*

# State files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Auto-loaded variable files (secrets)
*.auto.tfvars
*.tfvars
# Exception: keep immutable environment vars under version control
!envs/**.tfvars

# Provider config generated for tests
**/provider.tf

# Any log files
*.log

tfplan

tfdestroy